.serviceItem {
        background-color: white;
        border-color: silver;
        margin: -1px 0px 0px -1px;
        padding: 20px;
        border-width: 1px;
        border-style: solid;
        height: 200px;
        width: 300px;
}

/*
.serviceItem:hover{
        color: white;   
        background-color: rgb(212, 212, 212);
      }*/
.serviceItem:hover {
        border-color: #33cccc;
        z-index: 1;
}


h2 {
        font-size: x-large;
}

.serviceItem a {
        color: black;
        text-decoration: none;
}