.serviceItem {
  background-color: white;
  border-color: silver;
  margin: -1px 0px 0px -1px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  height: 200px;
  width: 300px;
}

.serviceItem:hover {
  border-color: #0493ec;
  z-index: 1;
}

h2 {
  font-size: x-large;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

.iconRow {
  display: flex;
  flex-flow: row;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  justify-content: space-between;
  align-items: stretch;
}

.iconSvg {
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
}

.iconSvg:hover {
  fill: #0493ec;
}
