.filtrPanel {
  display: flex;
  flex-flow: row;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: stretch;
}

.filtrpanelCaption {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-left: 24px;
}

.filtrpanelBtn {
  margin-left: 16px;
  display: flex;
  flex-flow: row wrap;
}