.servicePanel {
  display: flex;
  flex-flow: column;
  align-content: space-around;
  /*background-color: #eeeeee;*/
  padding: 10px;
  margin: 10px;
  flex: content;
}

.serviceCaption {
  color: #0493ec;
  text-transform: uppercase;
  background-color: white;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 0.15px;

}

.servicePanelItem {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  /*background-color: #eeeeee;*/
  flex: content;
}