.servicePanel {
    display: flex;
    flex-flow: column;
    align-content: space-around;
    /*background-color: #eeeeee;*/
    padding: 10px;
    margin: 10px;
    flex: content;
}

.serviceCaption {
    color: #33cccc;
    font-weight:bold;
    text-transform:uppercase;
    font-size:medium;
    background-color:white;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.servicePanelItem {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    /*background-color: #eeeeee;*/
    flex: content;
}