.filtrBtn {
  background-color: white;
  margin: 10px;
  border-color: silver;
  text-transform: uppercase;
  font-size: smaller;
  color: silver;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}

.filtrBtnCheck {
  background-color: gray;
  margin: 10px;
  border-color: silver;
  text-transform: uppercase;
  font-size: smaller;
  color: white;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}

/*

.filtrBtn:hover {
  color: white;
  background-color: gray;
}

.filtrBtnCheck:hover {
  color: gray;
  background-color: white;
}
*/
