.filtrBtn {
  background-color: white;
  margin: 10px;
  border-color: silver;
  text-transform: uppercase;
  font-size: smaller;
  color: black;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}

.filtrBtnCheck {
  background-color: gray;
  margin: 10px;
  border-color: silver;
  text-transform: uppercase;
  font-size: smaller;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}



.filtrBtn:hover {
  color: white;
  background-color: gray;
}

.filtrBtnCheck:hover {
  color: gray;
  background-color: white;
}
.filtrIcon{  
  width: 24px;
  height: 24px;  
  padding: 2px 10px 2px 2px;
  
}
