.App {
  font-size: larger;
}



.contanerColumn {
  display: flex;
  flex-flow: column;

}

.contanerRow {
  display: flex;
  flex-flow: row;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;

}