.App {
  font-size: larger;
}

.contanerMain {
  display: flex;
  flex-flow: column;
  padding: 60px 30px 30px 30px;

}

.contanerColumn {
  display: flex;
  flex-flow: column;

}

.contanerRow {
  display: flex;
  flex-flow: row;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;

}